html, body{
    width: 100%;
    height: 100%;
    background-color: #034c77;
    color: #FFF;
}

body{
    font-size: 15px;
    line-height: 1.42857143;
}


form{
    display: block;
    margin-top: 0em;
}

.container{
    margin-right:auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    
}

.hid{
    visibility: hidden;
}

.formMain{
    display: block;
    margin-top: 0em;
}

.option{
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #464545;
    background-color: #ffffff;
    background-image: none;
    border-radius: 4px;
}

.btn{
    border-width: 0px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 150%;
    margin:4px;
    margin-top: 30px;
    border-color: #034c77;
    display: block;
    width: 100%;
    padding: 18px 27px;
    text-align: center;
}

.btn:hover, .btnTrivia:hover{
    background-color: rgba(69, 161, 67, 0.4);
    text-decoration: none;
}

.btnTrivia{
    border-width: 0px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 150%;
    margin-top:10px;
    border-color: #034c77;
    display: block;
    width: 100%;
    padding: 18px 27px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.actions{
    margin-right: 50px;
}

.easy {
    color:green;
}

.medium{
    color:yellow;
}

.hard{
    color:red;
}

.btnMovePrevious{
    border-width: 0px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 150%;
    margin-top: 50px;
    border-color: #034c77;
    display: inline-block;
    width: 40%;
    padding: 18px 27px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.btnMoveNext{
    border-width: 0px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 150%;
    margin-top: 50px;
    border-color: #034c77;
    display: inline-block;
    width: 40%;
    padding: 18px 27px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.moveQuestion{
    text-align: center;
}

.scoreHeader{
    margin-top: 50px;
    text-align: center;
}

.w{
    background-color: green;
}

.incorrect{
    background-color: red;
}

.headerSummary{
    font-size: 50px;
    display: inline-block;
}

.btnRefresh{
    border-width: 0px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 150%;
    margin-top: 50px;
    border-color: #034c77;
    display: inline-block;
    width: 20%;
    padding: 18px 27px;
    float: right;
    margin-left: 15px;
    margin-right: 15px;
}

.questionDiv{
    margin-top: 30px;
}

p{
    font-size: large;
    margin-left: 40px;
    margin-right: 40px;
}

h2{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: auto;
    font-size: xx-large;
}

label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

div {
    display: block;
}


